<a href="https://colab.research.google.com/github/minjae-083/colab_tutorial/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
# 남녀별 생존율 차이

df = sb.load_dataset('titanic')

# 성별로 그룹화, 생존율(평균) 계산
s = df.groupby('sex')[['survived']].mean() # []가 2개인 이유? 1개->'시리즈'를 선택, 2개->'데이터프레임'을 선택
print(s)

        survived
sex
female  0.742038
male    0.188908

In [ ]:
# [] 1개와 2개의 차이?
s1 = df.groupby('sex')['survived'].mean() # 시리즈 선택. 인덱스가 'sex', 값이 'survived'
s2 = df.groupby('sex')[['survived']].mean() # 데이터프레임 선택. 인덱스가 'sex', 컬럼이 'survived'

print(type(s1))  # <class 'pandas.core.series.Series'>
print(type(s2))  # <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
# 나이대별로 요금(fare) 지불에 차이가 있는가
# 나이대(10살로 묶음)로 묶어서 평균 지불 금액을 구하기
df = sb.load_dataset('titanic')

# 구간 생성
bins = range(0, 101, 10)
labels = [f"{i}~{i+9}" for i in bins[:-1]]

fare_per_age = pd.cut(df['age'], bins=bins, labels=labels, right=True)
print(fare_per_age)

0      20~29
1      30~39
2      20~29
3      30~39
4      30~39
       ...
886    20~29
887    10~19
888      NaN
889    20~29
890    30~39
Name: age, Length: 891, dtype: category
Categories (10, object): ['0~9' < '10~19' < '20~29' < '30~39' ... '60~69' < '70~79' < '80~89' < '90~99']

In [ ]:
# 결측치가 많은 컬럼은 무엇인가? 어떻게 처리할 것인가?