<a href="https://colab.research.google.com/github/minjae-083/colab_tutorial/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [10]:
# 남녀별 생존율 차이

df = sb.load_dataset('titanic')

# 성별로 그룹화, 생존율(평균) 계산
s = df.groupby('sex')[['survived']].mean() # []가 2개인 이유? 1개->'시리즈'를 선택, 2개->'데이터프레임'을 선택
print(s)

        survived
sex
female  0.742038
male    0.188908

In [11]:
# [] 1개와 2개의 차이?
s1 = df.groupby('sex')['survived'].mean() # 시리즈 선택. 인덱스가 'sex', 값이 'survived'
s2 = df.groupby('sex')[['survived']].mean() # 데이터프레임 선택. 인덱스가 'sex', 컬럼이 'survived'

print(type(s1))  # <class 'pandas.core.series.Series'>
print(type(s2))  # <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 나이대별로 요금(fare) 지불에 차이가 있는가

In [ ]:
# 결측치가 많은 컬럼은 무엇인가? 어떻게 처리할 것인가?